<div class="grid grid-cols-1 m-5 gap-4" style="padding: 5cm; background-color: lightskyblue;">
    <div style="display: flex;" class="text-center justify-center">
        <fieldset class="border-8 " style="border-color: dodgerblue;">
            <legend class="text-2xl">Registrar nuevo usuario</legend>
            <form action="" class="p-8">
                <div class="flex flex-col">
                    <label class="text-justify">Nombre</label>
                    <input type="text" placeholder="Ingrese el nombre" style="height: 40px; width: 500px;" class = "text-field" />
                </div>
                <div class="flex flex-col">
                    <label class="text-justify">Nombre Usuario</label>
                    <input type="text" placeholder="Ingrese nombre usuario" style="height: 40px; width: 500px;" class = "text-field" />
                </div>
                <div class="flex flex-col">
                    <label class="text-justify">Contraseña</label>
                    <input type="text" style="height: 40px; width: 500px;" class = "text-field" placeholder="Contrase&ntilde;a" />
                </div>
                <div class="col-auto" style="padding: 1cm;">
                    <button type="submit" class="btn btn-outline-success">Registrar</button>
                </div>
            </form>
        </fieldset>
    </div>
</div>