<div class="grid grid-cols-1 mx-5 sm:mx-10 box-border my-10 gap-10 md:grid-cols-2">
    <div class="bg-blue-500 rounded-xl p-10 flex flex-col gap-4 items-center md:justify-center"> 
        <h1 class = "text-3xl xl:text-5xl text-center font-medium">Jet Climatization</h1>
        <img src="/assets/img/JetLogoNoLetters.png" alt="JetLog" class = "w-48 shadow-sm shadow-slate-900 rounded-full lg:w-60 xl:w-80" />
    </div>
    <div class = "flex flex-col gap-4 xl:box-border xl:mx-16 2xl:mx-28 xl:text-lg 2xl:text-xl">
        <h1 class = "text-3xl text-center font-medium">Proposito general</h1>
        <p class="text-justify">Jet Climatización es un proyecto desarrollado con fines educativos como parte del proyecto integrador que engloba las materias siguientes: Integradora II, Desarrollo Web para I 4.0, Desarrollo Móvil Multiplataforma, Bases de Datos en la Nube y por último pero no menos importante Internet de las cosas. Entre sus funciones tendrá el registro de usuarios, la baja de estos mismos, su inicio de sesión entre otros.
        Dicha aplicación se desarrollará utilizando las siguientes herramientas: Angular, Xamarin.Forms, C#, BD.
        </p>
    </div>
    <div class="flex flex-col gap-4 bg-gray-800 text-white p-5 rounded-xl items-center md:col-span-2 md:text-lg xl:text-lg 2xl:text-xl">
        <h1 class="text-3xl text-center font-medium">Fundadores</h1>
        <div class="list-disc">
            <li>Thomas Andres Espinoza Trujillo</li>
            <li>Pamela Jazmin Toledo Valenzuela</li>
            <li>Juan Enrique Mart&iacute;nez Flores</li>
        </div>
    </div>
</div>
