<div class="h-screen w-full dark:bg-slate-900 dark:text-white">
    <nav class = "bg-[#0085FF] font-semibolds sticky top-0 gap-5 p-4 md:p-3 flex items-center justify-between md:static">
        <button (click) = "toggleBurgerMenu()" class = "hover:text-white dark:hover:text-black active:bg-blue-400 active:text-white transition-all rounded-md px-2 py-1 pb-0 flex justify-center items-center md:hidden">
            <i class="fi fi-sr-menu-burger text-3xl"></i>
        </button>
        <div (click)="toggleBurgerMenu()" class="{{ burgerStatus ? '' : 'hidden'}} overlay cursor-pointer fixed top-0 left-0 right-0 bottom-0 backdrop-blur-md md:hidden"></div>
        <div class="{{ burgerStatus ? '' : 'hidden md:flex'}} sidebar fixed md:static left-0 top-0 h-screen md:h-auto flex flex-col md:flex-row bg-blue-500 md:bg-[#00000000] box-border p-6 md:p-0 dark:text-black md:w-full md:items-center md:justify-between">
            <div class="flex flex-col gap-5 h-full md:flex-row">
                <button (click) = "toggleBurgerMenu()" class="bg-blue-600 p-2 px-4 rounded-md mb-4 align-middle text-start hover:bg-blue-700 transition-all active:bg-blue-800 md:hidden">
                    <i class="fi fi-sr-menu-burger text-xl text-white inline-block"></i> <span class = "font-semibold text-lg ml-4">Menu</span> 
                </button>
                <button (click)="changeSection(0)" class="{{sections[0].styles}}">Principal</button>
                <button (click)="changeSection(1)" class="{{sections[1].styles}}">Usuarios</button>
                <button (click)="changeSection(2)" class="{{sections[2].styles}}">Graficas</button>
            </div>
            <div>
                <button (click)="logout()" class="customButton buttonDanger">Salir <i class = "fi fi-rr-exit"></i></button>
            </div>
        </div>
        <h1 class = "text-2xl font-semibold md:hidden">{{sections[currentSection].name}}</h1>
        <!-- <div class = "hidden md:block">
            <button (click)="logout()" class="customButton buttonDanger">Salir <i class = "fi fi-rr-exit"></i></button>
        </div> -->
    </nav>
    <ng-template [ngIf]="currentSection == 0"><app-main></app-main></ng-template>
    <ng-template [ngIf]="currentSection == 1"><app-users></app-users></ng-template>
    <ng-template [ngIf]="currentSection == 2"><app-charts></app-charts></ng-template>
</div>
