
.section {
    @apply text-lg;
    @apply transition-all;
    @apply outline-none;
    @apply border-none
}

.section-active {
    @apply text-white;
    @apply text-xl;
    /* @apply border-b-white;
    @apply border-solid;
    @apply border-b-2; */
    @apply relative;
    @apply transition-all;
}

.section-active:before, .section-active:after, .section-inactive:before {
    content: "";
    @apply absolute;
    @apply bottom-0;
    height: 2px;
    width: 0;
    @apply transition-all;
    @apply left-0;
    @apply bg-white;
}

.section-active:before, .section-inactive:hover:before {
    @apply w-full;
}

/* Only active */
.section-active:hover:after {
    @apply bg-blue-900;
    @apply w-full;
}

.section-active:active {
    @apply text-2xl;
}

/* ================================ */

.section-inactive {
    @apply hover:text-gray-200;
    @apply relative;
}

.section:active {
    @apply text-white;
}

/* Sidebar styles */
.sidebar {
    animation: sidebarAnimation .4s;
}

@keyframes sidebarAnimation {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}
/* End sidebar styles ===========================*/

/* Overlay */
.overlay {
    @apply cursor-pointer;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
    @apply backdrop-blur-md;
    @apply md:hidden;
    background-color: rgba(0, 0, 0, 0.80);
    animation: overlayAnimation .5s;
}

@keyframes overlayAnimation { 
    from {
        background-color: rgba(0, 0, 0, 0.0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.80);
    }
}
/* End Overlay ============================== */

/* Component-container ---- Contenedor que tiene los componentes que renderiza la navbar */

.component-container::-webkit-scrollbar {
    @apply bg-none;
    @apply w-2;
}

.component-container::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
    @apply rounded-full;
}

/*  End of Component-container */

.user-menu{
    /* fixed right-2 bg-gray-800 text-white transition-all rounded-md p-5 mt-3 gap-3 flex-col w-fit */
    @apply fixed;
    @apply top-1/2;
    @apply left-1/2;
    transform: translate(-50%, -50%);
    @apply bg-gray-800;
    @apply transition-all;
    @apply rounded-md;
    @apply p-5;
    @apply mt-3;
    @apply gap-3;
    @apply flex-col;
    @apply w-fit;
    @apply md:transform-none;
    @apply md:left-auto;
    @apply md:top-16;
    @apply md:right-1;
    /* @apply z-10; */
}

.user-menu-controls {
    /* w-72 flex items-center */
    @apply flex;
    @apply flex-col;
    /* @apply items-center; */
    @apply gap-3;
    @apply sm:flex-row;
    @apply sm:w-96;
}