<div class = "grid grid-cols-1 m-3 gap-4">
    <div class = "bg-[#319CFF] w-full rounded-xl p-4 flex flex-col items-center gap-5">
        <h1 class = "text-8xl text-center w-full">20°</h1>
        <div class = "bg-white rounded-full text-black p-3 font-semibold text-xl whitespace-nowrap w-full text-center">Temperatura actual</div>
    </div>
    <div class = "bg-[#319CFF] w-full rounded-xl p-4 flex flex-col gap-5 text-black">
        <h1 class = "font-semibold text-xl text-center">Actualiza la temperatura limite</h1>
        <div class = "flex flex-col gap-3">
            <p>Temperatura actual: <span class = "font-semibold">30°</span></p>
            <input type = "number" value = "30">
            <button class = "customButton buttonSuccess">Actualizar</button>
        </div>
    </div>
    <div class = "bg-[#319CFF] w-full rounded-xl p-4 flex flex-col gap-5 text-black">
        <h1 class = "font-semibold text-xl text-center">Ventilaci&oacute;n</h1>
        <div class = "flex flex-col gap-3">
            <p>Estado: <span class = "text-red-600 font-semibold">Apagado</span></p>
            <button class = "customButton buttonSuccess">Encender</button>
        </div>
    </div>
</div>
