/* Switch para encender y apagar ventilacion */
.switch {
    @apply relative;
    @apply w-[60px];
    @apply h-8;
    @apply cursor-pointer;
}

.slider {
    @apply absolute;
    @apply top-0;
    @apply bottom-0;
    @apply right-0;
    @apply left-0;
    @apply rounded-full;
    @apply bg-slate-600;
    @apply transition-all;
}

.slider:before {
    content: "";
    @apply absolute;
    @apply h-full;
    @apply rounded-full;
    @apply w-5;
    @apply h-5;
    @apply top-[50%];
    transform: translateY(-50%);
    @apply bottom-[50%];
    @apply left-2;
    @apply bg-gray-500;
    @apply rounded-full;
    @apply transition-all;
}

.switch input[type="checkbox"]:checked + .slider:before {
    @apply left-[100%];
    transform: translate(-140%, -50%);
}

.switch input[type="checkbox"]:checked + .slider {
    @apply bg-slate-800;
    /* @apply bg-blue-700; */
}

.switch input[type="checkbox"]:checked + .slider:before {
    @apply bg-green-500;
}

.switch input[type="checkbox"]:checked:hover + .slider {
    @apply bg-slate-900;
    /* @apply bg-blue-800; */
}

.slider:hover {
    @apply bg-gray-700;
}

/* Switch's ends ==============*/