/* You can add global styles to this file, and also import other style files */
@import "~@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #319CFF;
    --darkBg: #100E18;
}

/* Text field */

.text-field, .combo-box {
    @apply rounded-md;
    @apply outline-none;
    @apply transition-all;
    @apply text-black;
}

.text-field {
    @apply p-2;
}

.text-field:focus {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/* End Text field */

/* combobox */

.combo-box {
    @apply p-1;
    @apply w-full;
}

/* combobox's ends */

/* Custom input */
.customInput {
    @apply w-full;
    @apply relative;
    @apply bg-white;
    @apply p-2;
    /* @apply pt-5; */
    @apply rounded-md;
    @apply transition-all;
    @apply min-w-[150px];
    /* min-width: 150px; */
    @apply overflow-hidden;
    /* @apply overflow-ellipsis; */
}

.customInput input {
    @apply w-full;
    @apply h-full;
    @apply outline-none;
    @apply border-none;
    background: none;
}

.customInput label {
    @apply absolute;
    left: 7px;
    bottom: 8px;
    @apply text-xl;
    @apply transition-all;
    @apply pointer-events-none;
    @apply whitespace-nowrap;
    @apply overflow-ellipsis;
}

.customInput input:focus ~ label, 
.customInput input:valid ~ label {
    @apply font-bold;
    font-size: 14px;
    transform: translateY(-70%);
}

.customInput:has(input:focus), .customInput:has(input:valid) {
    @apply pt-5;
}

/* Simple input */
.simpleInput {
    @apply outline-none;
    @apply border-none;
    @apply bg-white;
    @apply p-2;
    @apply rounded-md;
    @apply w-full;
}


/* Custom button */
.button {
    @apply w-full;
    @apply p-2;
    @apply rounded-md;
    @apply text-lg; 
    @apply transition-all;
    @apply border-none;
    @apply outline-none;
}

/* Button success */
.button-success{
    @apply bg-green-500;
}

.button-success:hover {
    @apply bg-green-600;
}

.button-success:active {
    @apply bg-green-700;
}

.button-success:focus-visible {
    box-shadow: 0 0 5px 3px rgb(15, 133, 58);
}

/* Button danger */
.button-danger {
    @apply bg-red-500;
}

.button-danger:hover {
    @apply bg-red-600;
}

.button-danger:active {
    @apply bg-red-700;
}

.button-danger:focus-visible {
    box-shadow: 0 0 5px 3px rgb(220, 38, 38);
}

/* Button primary */
.button-primary {
    @apply bg-blue-600;
}

.button-primary:hover {
    @apply bg-blue-700;
}

.button-primary:active {
    @apply bg-blue-800;
}

.button-primary:focus-visible {
    box-shadow: 0 0 5px 3px rgb(29 78 216);
}

/* Para que los iconos se mantengan al nivel del texto */
i { @apply align-middle; }

@media (prefers-color-scheme: dark) {
    body {
        color: black;
    }
}